<div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-xl border border-gray-300">
  <h1 class="text-2xl font-semibold mb-6 text-gray-800">Account Settings</h1>
  <turbo-frame id="account_settings">
    <%= render "form" %>
  </turbo-frame>
</div>
