<h1>You’ve been invited to join as an admin/user!</h1>

<p>Click below to accept the invitation and verify your email:</p>

<p>
  <a href="<%= @invite_url %>">Accept Invitation</a>
</p>

<p>This link will expire once used.</p>
